
*.opensdf
/DestinyFalls/*.suo
/DestinyFalls/*.user

/UnitTester/Defines.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DestinyFalls/Debug
/DestinyFalls/ipch
/DestinyFalls/*.sdf
/DestinyFalls/DestinyFalls.v12.suo
